<aside class="right">  
    	<div class="about_c">
	    <p>网名：<span>{{.options.nickname}}</span></p>
	    <p>生日：1990-05-11</p>
	    <p>籍贯：江西省 吉安市</p>
	    <p>现居：深圳市—南山区</p>
	    <p>职业：前端AS、后端GO+JAVA攻城师</p>
	    <p>爱好：摄影、旅行、古典音乐</p>
	    <p>运动：羽毛球、乒乓球、溜冰</p>
	    <p>喜欢的音乐：《琵琶语》</p>
	    <p>喜欢的动漫：《千与千寻》</p>
	    <p><a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=DTQ_Ojw9PzU_OU18fCNuYmA" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_02.png"/></a></p>
	</div>
	<div class="aboutme"><div/>
</aside>