<div itemscope itemtype="http://schema.org/Blog">
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<h1 class="title" itemprop="name">{{.post.Title}}</h1>
	<div class="entry-content" itemprop="articleBody">
	{{str2html .post.Content}}
	</div>
</article>
</div>


<h1 class="t_nav"><span>您当前的位置：<a href="/index.html">首页</a>&nbsp;>&nbsp;<a href="/news/">慢生活</a>&nbsp;>&nbsp;<a href="/news/life/">程序人生</a></span><a href="/" class="n1">网站首页</a><a href="#" class="n2">程序人生</a></h1>
  <div class="index_about">
    <h2 class="c_titile">即便是坑，我也想要拉你入伙！</h2>
    <p class="box_c"><span class="d_time">发布时间：2014-07-31</span><span>编辑：杨青</span><span>阅读（<script src=/e/public/ViewClick/?classid=5&id=725&addclick=1></script>）</span></p>
    <ul class="infos">
      <p>之前谈《<a href="/news/life/2014-07-10/722.html" target="_blank"><span style="color: rgb(0, 0, 0);"><strong>女程序员职业生涯该如何发展？</strong></span></a>》其实，女程序员的职业生涯相对于男程序员来说是很短暂的。就目前我来说，从事这行都已有五年时间，当觉得自己在一个瓶颈阶段无法突破自己的时候，出现了html5和css3，新的技术研究，可以重拾当初学习的激情和兴趣，于是又坚持至今....</p>
<p>个人博客也是动力之一，博客从一年前的每天访问IP不到60人升到了如今每天将近400个IP，跳出率也由60%缩短到了30%。博客模板也换了n个版本，也结交了很多朋友，一次次的更新和进步还有网友的支持才换来今天的成绩...</p>
<p>对于刚毕业的学生来说，想学习建网站，掌握一技之长，最简单的入门无非就是学会html和css，先前发表过一篇文章《<a href="/jstt/bj/2013-07-28/530.html" target="_blank"><span style="color: rgb(0, 0, 0);"><strong>如果要学习web前端开发，需要学习什么？</strong></span></a>》，如果你还不知道如何着手，请仔细阅读....7天的时间，入门是没有问题的，当然，如果你用心的话！</p>
<p><span style="color: rgb(51, 153, 102);"><strong>即便是坑，我也想要拉你入伙！</strong></span><span style="color: rgb(255, 102, 0);">even the pit , and i also want to pull your occupation !</span></p>
<p>前两天有网友跟我聊天，谈到互联网的前景，他很迷茫，要不要继续坚持下去，我说&ldquo;如果是我，我在这一行肯定干不了多久，毕竟，我的人生规划，就是以后相夫教子。&rdquo;我劝他，如果自己在这一行这么迷茫堪忧下去，只会耽误自己的时间，趁着年轻，重新找自己喜欢的工作和行业，并且坚持下去....</p>
<p>表妹刚刚毕业，之前选专业的时候，就是冲着学html去的，结果几年时间下来，学的是维护...女孩子学这个，确实有点儿让人崩溃，这下又得走我的老路了，还是得自己学习。我不强迫她一定要学习html和css。如果她不感兴趣，是不能勉强的。就像找工作和对象一样，需要不断的摸索，才能找到自己的喜欢的....</p>
<p>但是学习一技之长也并不是一件坏事，有很多传统的企业已经开始往互联网方面发展，这方面的人才缺口其实也蛮大，如果说入门需要7天，何不花7天的时间，学习这一技之长，哪怕作为自己的一个后备。即便是坑，我也想要拉你入伙！</p><p align="center" class="pageLink"></p>
    </ul>
    <div class="keybq">
    <p><span>关键字词</span>：程序员,html,女程序员</p>    
    </div>
