<header>
	<div id="logo"><a href="/"></a></div>
  	<nav class="topnav" id="topnav">
	    <a href="/"><span>首页</span><span class="en">Index</span></a>
	    <a href="/about.html"><span>关于我</span><span class="en">About</span></a>
	    <a href="/life.html"><span>成长录</span><span class="en">Life</span></a>
	    <a href="/mood.html"><span>碎言碎语</span><span class="en">Doing</span></a>
	    <a href="/album.html"><span>光影瞬间</span><span class="en">Share</span></a>
	    <a href="/book.html"><span>留言板</span><span class="en">Gustbook</span></a>
  	</nav>
</header>