<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="gb2312">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.title}}</title>
  <meta name="keywords" content="{{.keywords}}">
  <meta name="description" content="{{.description}}">
  <link href="{{.root}}css/base.css" rel="stylesheet">
  <link href="{{.root}}css/index.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="{{.root}}js/modernizr.js"></script>
  <![endif]-->
</head>
<body>
  {{.head}}
  {{.banner}}
  {{.photo}}
<article>
        {{.LayoutContent}}
        {{.right}}
</article>
{{.foot}}
</body>
</html>