<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="gb2312">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.title}}</title>
  <meta name="keywords" content="{{.keywords}}">
  <meta name="description" content="{{.description}}">
  <link href="{{.root}}css/base.css" rel="stylesheet">
 <link href="{{.root}}css/{{.css}}.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="{{.root}}js/modernizr.js"></script>
  <![endif]-->
</head>
<body>
  {{.head}}
  {{.banner}}
  {{.photo}}
  <article class="{{.class}}">
      {{.LayoutContent}}
      {{.right}}
  </article>
  {{.foot}}

  <!-- Duoshuo JS BEGIN -->
  <script type="text/javascript">
    var duoshuoQuery = {short_name:"doubleliu"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = 'http://static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
      || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
  </script>
  <!-- Duoshuo JS BEGIN -->

</body>
</html>