<h1 class="t_nav">
  <span>“慢生活”不是懒惰，放慢速度不是拖延时间，而是让我们在生活中寻找到平衡。</span>
  <a href="/" class="n1">网站首页</a>
  <a href="/life.html" class="n2">成长录</a>
</h1>
<div class="bloglist left">
  {{range $k, $v := .list}}
      <h3><a href="{{$v.Link}}"  target="_blank">{{str2html $v.ColorTitle}}</a></h3>
      <figure><a href="{{$v.Link}}"><img src="{{$v.Cover}}"></a></figure>
      <ul>
        <p>{{str2html $v.Excerpt}}</p>
        <a title="阅读全文" href="{{$v.Link}}"  target="_blank" class="readmore">阅读全文>></a>
      </ul>
      <p class="lifedateview"><span>{{date $v.Posttime "Y-m-j"}}</span><span>作者：{{$v.Author}}</span><span>所属分类：[{{str2html $v.TagsLink}}]</span></p>
  {{end}}
  {{str2html .pagebar}}
</div>