<div class="template">
    <div class="boxphoto">
        <h3>
              <p><span>彩云之南</span>醉美 泸沽湖</p>
        </h3>
        <ul>
              <li><a href="/album.html" ><img src="{{.root}}images/1.jpg"></a><span>白马雪山垭口 海拔4292</span></li>
              <li><a href="/album.html" ><img src="{{.root}}images/2.jpg"></a><span>醉美泸沽湖 水天一色</span></li>
              <li><a href="/album.html" ><img src="{{.root}}images/3.jpg"></a><span>泛舟于清澈的湖水 波光粼粼</span></li>
              <li><a href="/album.html" ><img src="{{.root}}images/4.jpg"></a><span>草海 碧草蓝天</span></li>
              <li><a href="/album.html" ><img src="{{.root}}images/5.jpg"></a><span>滇藏线 在云端的感觉</span></li>
              <li><a href="/album.html" ><img src="{{.root}}images/6.jpg"></a><span>明永冰川 仰望蓝天</span></li>
        </ul>
    </div>
</div>