<div class="moodlist">
  <h1 class="t_nav">
    <span>删删写写，回回忆忆，虽无法行云流水，却也可碎言碎语。</span>
    <a href="/" class="n1">网站首页</a>
    <a href="/mood.html" class="n2">碎言碎语</a>
  </h1>
  <div class="bloglist">
    <ul class="arrow_box">
      <div class="sy">
        <img src="views/double/images/2.jpg">
        <p> 每当我们觉得不幸福的时候，总会为曾经错过了的感情和那个错过了的人加入许多幻想和诗意。可是，既然从未曾拥有，又怎知道他有多好？只因为错过了，才会固执地以为假如没有错过，现在的我也许会比较幸福。我们念念不忘的，不过是自己在脑海中想象了千百遍的画面，一碰到现实也许就碎掉了。_张小娴</p>
      </div>
      <span class="dateview">2014-1-1</span>
    </ul>

    <ul class="arrow_box">
      <div class="sy">
        <img src="views/double/images/3.jpg">
        <p> 当我们被误解时，会花很多时间去辩白。 但没有用，没人愿意听，大家习惯按自己的所闻、理解做出判别，每个人其实都很固执。与其努力且痛苦的试图扭转别人的评判，不如默默承受，给大家多一点时间和空间去了解。而我们省下辩解的功夫，去实现自身更久远的人生价值。其实，渡人如渡己，渡已，亦是渡人。</p>
      </div>
      <span class="dateview">2014-2-1</span>
    </ul>

    <ul class="arrow_box">
      <div class="sy">
        <img src="views/double/images/1.jpg">
        <p> 我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。我在岁月中找到他，依靠他，将一生交付给他。做他的妻子，他孩子的母亲，为他做饭，洗衣服，缝一颗掉了的纽扣。然后，我们一起在时光中变老。</p>
      </div>
      <span class="dateview">2014-3-1</span>
    </ul>

  </div>
  <div class="page"><a title="Total record"><b>41</b></a><b>1</b><a href="/news/s/index_2.html">2</a><a href="/news/s/index_2.html">&gt;</a><a href="/news/s/index_2.html">&gt;&gt;</a></div>
</div>