<style>
      ul{
      list-style: none outside none;
        padding-left: 0;
    }
    .gallery li {
      display: block;
      float: left;
      height: 200px;
      margin-bottom: 6px;
      margin-right: 6px;
      width: 200px;
    }
    .gallery li a {
      height: 100px;
      width: 100px;
    }
    .gallery li a img {
      max-width: 200px;
    }
</style>
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/lightGallery.min.js"></script>
<script>
  $(document).ready(function() {
    $("#auto-loop").lightGallery({
        loop:true,
        auto:true,
        desc:true,
        pause:3000
      });
    });
</script>

<ul id="auto-loop" class="gallery list-unstyled">
        <li data-title="这是标题" data-src="11.jpg" data-responsive-src="thumb2.jpg"> 
          <a href="#">
            <img src="img1.jpg" />
            </a> 
        </li>
    </ul> 