<aside class="right">
  <div class="weather">
  <iframe width="260" scrolling="no" height="100" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=19&color=%23&bgc=%23&bdc=%23&icon=1&temp=0&num=2"></iframe>
  <div>
  <div class="news">
    <h3><p>最新<span>文章</span></p></h3>
    <ul class="rank">
      {{range $k,$v := .latestblog}}
          <li><a href="{{$v.Link}}" title="{{$v.Title}}">{{str2html $v.ColorTitle}}</a></li>
     {{end}}
    </ul>
    <h3 class="ph"><p>点击<span>排行</span></p></h3>
    <ul class="paih">
      {{range $k,$v := .hotblog}}
          <li><a href="{{$v.Link}}" title="{{$v.Title}}">{{str2html $v.ColorTitle}}</a></li>
      {{end}}
    </ul>

    <h3 class="links">
      <p>友情<span>链接</span></p>
    </h3>
    <ul class="website">
      <li><a href="http://blog.doubleliu.com" target="_blank" >去旅行</a></li>
      <li><a href="http://blog.dou.li" target="_blank">兜里</a></li>
      <li><a href="http://photobbs.it168.com/home.php?mod=space&uid=28484539&do=thread&view=me&type=thread&from=space" target="_blank">摄友会</a></li>
      <li><a href="http://wenyi.fr" target="_blank">文艺范儿</a></li>
      <li><a href="http://weibo.com/u/2000465995" target="_blank" >新浪微博</a></li>
      <li><a href="http://t.qq.com/jxcd_liujj?preview" target="_blank" >腾讯微博</a></li>
    </ul>
  
  <a href="/" class="weixin"></a>
  <div class="visitors">
      <h3><p>最近访客</p></h3>
      <ul class="ds-recent-visitors"  data-num-items="24"></ul>
  </div>
</aside>