/*
author:cho
site:http://pagecho.com
这个主题的相关介绍在：http://pagecho.com/theme-pathlog.html
*/


img {
border:0;
}
::selection {
background:#FFF200;
text-shadow:none;
}
* {
margin:0;
padding:0;
}

input {
outline:none;
}

textarea {
outline:none;
}

.clear {
clear:both;
}

body {
line-height:1.8;
font-size:12px;
font-family:"Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
text-align:left;
color:#333;
margin:0;
background-image: url(images/blogb.jpg);
background-color: #E7EEF4;
background-repeat: no-repeat;
background-position: center top;
width: 100%;
clear: both;
}

div,form,img,ul,ol,li,dl,dt,dd {
border:0;
text-align:left;
margin:0;
padding:0;
}

h1,h2,h3,h4,h5,h6 {
font-weight:400;
margin:0 auto;
padding:0;
}

table,td,tr,th {
font-size:12px;
}

li {
list-style-type:none;
}
.hover{
position:absolute;
width:80px;
display:block;
left:45px;
top:17px;
}
.clear {
clear:both;
}
code,blockquote{
background:url(http://x.papaapp.com/farm1/a571d2/d42e4fbb/quoteicon.png) no-repeat left 7px;
padding:15px 15px 15px 60px;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
color:#555;
margin:15px 0 0 0;
text-shadow:none;
display:block;
}
.about_content .archivetitle{
margin: 0;
}

code{
font-family:'Microsoft Yahei',wqy-microhei,Verdana,Arial,Helvetica,sans-serif;
}

.archivetitle{
margin:0 0 33px 0;
font-weight: normal;
font-size: 20px;
line-height: 32px;
color:white;
text-shadow:1px 1px 1px #ddd;
}

ul,li {
list-style:none;
}

a,a img,
.submit,
.b2 .circle,
.post_item .post_bottom,
.post_item .post_arrow,
.post_item .post,
input#author,input#mail,input#url,#comment_form textarea,
.aboutpage_friends a span
 {
color:#555;
text-decoration:none;
-webkit-transition: all .18s ease-in;
-moz-transition: all .18s ease-in;
-o-transition: all .18s ease-in;
transition: all .18s ease-in;
}

a:hover {
color:#6E7173;
}

form,embed {
display:inline;
margin:0;
padding:0;
}

#wrap {
position:relative;
table-layout:fixed;
word-break:break-all;
width:678px;
min-height:300px;
display:block;
float:right;
}
.clear_bg{
left: 0px; top: 0px; position: fixed;width:100%;height:100%; overflow: hidden; z-index: -9998;
background:url(http://x.papaapp.com/farm1/a571d2/385ebf10/bg.png);
}
.body-inner {
width: 908px;
left: 0;
padding:0 64px;
margin:0 auto;
position: relative;
}
 
#header{
margin:80px 0;
position:fixed;
width:160px;
}
#header img{
width: 130px;
height: 130px;
border-radius: 50%;
box-shadow: 0 0 0 5px #fff;
margin-left: 12px;
background: #fff;
}

#header #blog_title h1 a,#header #blog_title .h1 a {
color: white;
text-transform: uppercase;
font: 60px/1.32 "Source Sans Pro", Helvetica, Arial, sans-serif;
padding: 0 3px;
display: block;
height: 67px;
overflow: hidden;
text-shadow: 1px 3px 3px #333;
}

.des{
color: white;
font: 32px/1.32 "Source Sans Pro", Helvetica, Arial, sans-serif;
text-shadow: 1px 3px 3px #333;
}
#header .head-search{
position:relative;
margin: 40px 0 16px 0;
display: block;
}
.subtitle {
margin-left:22px;
}
#menu {
padding-top:10px;
margin-top:10px;
border-top:1px solid #f4f4f4;
}
#menu ul{
overflow:hidden;
}
#menu ul.header-nav{
}
#menu ul li {
margin:4px 0;
/*background:url(http://x.papaapp.com/farm1/a571d2/f12672f8/menu-g.png) repeat-x top;*/
width:100%;
display:block;
}

#menu ul .current a {
color:#ddd;
}

#menu ul li a {
text-transform:uppercase;
font-size:16px;
padding:0 11px;
color:#eee;
line-height:28px;
padding:2px 3px 4px 3px;
text-shadow:1px 1px 5px #777;
}

#menu ul li a:hover {
color: #ddd;
}
#menu ul .current a:hover {
color:#ddd;
}
#menu ul li a.menu-rss {
padding-right:36px;
}

.head-search input{
padding: 5px 5px 5px 27px;
border: 1px solid #333;
line-height: 16px;
background:#434343 url(http://x.papaapp.com/farm1/a571d2/46a7b932/sb.png) no-repeat 10px 7px;
background-color: rgba(2, 2, 2, 0.17);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
-o-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
-o-border-radius: 25px;
width: 128px;
color: #eee;
}
#menu ul li{
margin:0 6px;display:inline;
}
#content{
padding-top:70px;
}
.post_comment {
clear:both;
position:relative;
padding:0 35px;
}
.post_item:hover .post{
background:#fdfdfd;
}
.post{
background: white;
-moz-border-radius:8px 8px 0 0;
-webkit-border-radius: 8px 8px 0 0;
border-radius: 8px 8px 0 0;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
position: relative;
z-index: 4;
padding:35px 0 15px 0;
border-bottom:1px solid #ddd;
}
.not_found{
padding-top:44px!important;
}
.not_found #footer{
padding-left:35px!important;
padding-right:35px!important;
}
.not_found .post,.not_found .post_bottom{
background:none!important;
box-shadow:none!important;
border:none!important;
}
.post_bottom{
background: #FAFAFA;
height:20px;
padding:15px 35px;
margin-bottom:70px;
-moz-border-radius:0 0 8px 8px;
-webkit-border-radius:0 0 8px 8px;
border-radius:0 0 8px 8px;
border-top:1px solid #fff;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
.post_content .post_bottom{
margin-bottom:15px;
}
.post_item:hover .post_bottom{
background:#F4F4F4;
}
.post_item{
position:relative;
}
#timeline.horizontal {
-webkit-transition: width 1s ease-out;
-moz-transition: width 1s ease-out;
-o-transition: width 1s ease-out;
-ms-transition: width 1s ease-out;
transition: width 1s ease-out;
-webkit-animation: timelineIntoHorizontal 2s;
-moz-animation: timelineIntoHorizontal 2s;
-ms-animation: timelineIntoHorizontal 2s;
bottom:155px;
left: 0px;
width: 100%;
height: 6px;
}
#timeline.vertical {
-webkit-transition: height 1s ease-out;
-moz-transition: height 1s ease-out;
-o-transition: height 1s ease-out;
-ms-transition: height 1s ease-out;
transition: height 1s ease-out;
top: 0px;
left: 50%;
margin-left: -103px;
width: 6px;
height: 100%;
}
#timeline {
position: fixed;
background: rgba(255, 255, 255, 0.25);
}
.post_item:hover .post_arrow{
border-top: 7px solid #F4F4F4;
}
.post_arrow{
border-left: 7px solid transparent;
border-top: 7px solid #FAFAFA;
border-right: 7px solid transparent;
position: absolute;
left:117px;
bottom: -7px;
width: 0;
height: 0;
z-index: 5;
}
.post_content  .post_item:hover .post_arrow{
border-left: 7px solid #F4F4F4;
}
.post_content .post_arrow{
border-bottom: 7px solid transparent;
border-left: 7px solid #FAFAFA;
border-top: 7px solid transparent;
top:-4px;
left: 807px;
}
.premalink{
float:right;
font-style:italic;
color:#888;
}
.post .info {
display:none;
background:url(http://x.papaapp.com/farm1/a571d2/618e90ae/infocomments.png) no-repeat;
line-height:30px;
text-align:center;
width:30px;
height:30px;
font-size:13px;
}
.post h2 a,.post h2 a:hover,.post h1 a,.post h1 a:hover {
color:#000;
}
.post h2,.post h1 {
color:#555;
}
.post h2,.post h1,#comments h4 {
color: #555;
font-weight: normal;
font: 18px/2 "ClassicGrotesqueW01-SmB 1130040", "Hiragino Sans GB W6", "STHeiti", "WenQuanYi Micro Hei", "Microsoft YaHei", SimSun, sans-serif;
word-wrap:break-word;
word-break:normal;
padding:0 35px;
}
.not_found .post h1{
color: white;
font: 122px/1 "ClassicGrotesqueW01-SmB 1130040", "Hiragino Sans GB W6", "STHeiti", "WenQuanYi Micro Hei", "Microsoft YaHei", SimSun, sans-serif;
}
.meta {
color: #7D7D7D;
font-size: 12px;
padding:0 35px;
line-height:2.2;
}
#comments h4{
height:32px;
font-size:18px;
padding-left:0;
}
#comments #response{
border-bottom:1px solid #ddd;
margin-bottom:18px;
}
.post h3 {
color:#555;
padding:1px 0 1px 18px;
margin: 20px 0;
display:block;
border-left:6px solid #ddd;
}
.post .blue {
white-space:pre-wrap;
background-color:#FFF200;
}
.post .con ul {
margin:15px 0;
}
.post .con li {
list-style-type:none;
min-height:20px;
line-height:1.4em;
padding:4px 11px;
}
.post .con .oddli {
-webkit-transition:background .3s linear;
-moz-transition:background .3s linear;
-o-transition:background .3s linear;
transition:background .3s linear;
}
.post .con .tags ul{
margin:0;
}
.tags{
overflow:auto;
margin:12px 0 0 0;
}
.post .tags ul li{
float:left;
list-style-type:none;
margin-right:9px;
padding:0 3px 0 0;
background:url(http://x.papaapp.com/farm1/a571d2/126d9c88/tags.png) no-repeat right -25px;
}
.post .tags ul li a{
background:url(http://x.papaapp.com/farm1/a571d2/126d9c88/tags.png) no-repeat 0 0px;
float:left;
height:19px;
line-height:17px;
color:#aaa;
padding:0 4px 0 7px;
white-space:nowrap;
font-size:12px;
}
.bicolumn ul li {
text-transform:uppercase;
}

.post p.read-more {
background:url(images/icons.gif) 0 -315px no-repeat;
padding-left:17px;
font-size:12px;
}
.post .con {
color:#555;
padding:20px 35px 20px 35px;
}
.not_found .post .con{
color:#eee;
}
.post .con img {
max-width:600px;
display:block;
padding:15px 0;
}
.post .con p {
text-align:justify;
text-justify:inter-ideograph;
padding:8px 0;
}
.post .con p a {
text-decoration:none;
border-bottom: 1px solid #000;
}
.post .con p.more a {
margin:0;
padding:4px;
border:none;
background:none;
}
.post .con p a:hover {
background: #FFF200;
}
.post {
padding-bottom:27px;
}
ol.page-navigator {
color:#666;
list-style:none;
font-size: 14px;
line-height: 1.5;
margin:-10px auto 0 auto;
}
.post ol.page-navigator{
padding-bottom:27px;
}
#comments ol.page-navigator {
float:right;
margin-top:-35px;
height:20px;
padding-bottom:0;
}
ol.page-navigator span a {
display:inline;
margin:0 5px 0 0;
}
#comments ol.page-navigator span a {
margin:0 0 0 5px;
font-size:14px;
}
ol.page-navigator span {
text-decoration: none;
display: inline-block;
padding: 5px;
width: 24px;
height: 24px;
-webkit-border-radius: 20px;
border-radius: 20px;
line-height: 26px;
text-align: center;
background: white;
font-family: Verdana;
-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
-moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
-o-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
ol.page-navigator a {
text-decoration: none;
display: inline-block;
padding: 5px;
width: 24px;
height: 24px;
-webkit-border-radius: 20px;
border-radius: 20px;
line-height: 26px;
text-align: center;
background: white;
font-family: Verdana;
-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
-moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
-o-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
ol.page-navigator span {
background:#f2f2f2;
}
ol.page-navigator a:hover {
background:#f2f2f2;
}
#postnavi {
overflow:hidden;
margin:0 0 20px;
}
#postnavi .next {
float:right;
}
.bloga {
background-image: url(images/bloga.jpg);
background-repeat: no-repeat;
background-position: center bottom;
width: 100%;
clear: both;
}
#footer {
padding:0 0 35px 0;
display:block;
background: url(http://x.papaapp.com/farm1/a571d2/385ebf10/bg.png);
}
.copy{
color:#ddd;
text-shadow:1px 1px 1px #777;
margin-top:10px;
text-transform:uppercase;
}
.back2top a,.copy a{
color:#ddd;
text-shadow:1px 1px 1px #777;
}
.back2top{
float:right;
}
.post .con .oddli {
padding:6px 10px;
}
#comment_form {
display:block;
padding:20px 10px 20px 0;
padding-right:200px;
overflow:hidden;
position:relative;
width: 402px;
}
.ie6show {
height:3px;
display:none;
_display:block;
}
.col2,.col1 {
padding:0;margin:0;
/*background:url(images/commentbox-bg.png) no-repeat;*/
} 
.col1 {
width:194px;
float:left;
padding:0 5px 0;
margin-left:-205px;
left:205px;
position:relative;
overflow:hidden;
background-position:right top;
}
.col2 {
width:100%;
height:auto;
float:left;
position:relative;
background-position:0 0;
}
#comment_form textarea {
width:95%;
height:144px;
padding:10px;
overflow:auto;
margin:0;
line-height:17px;
font-family:Verdana,'Microsoft Yahei',Arial,Helvetica,sans-serif;
color:#222;
+height:122px;
+width:88%;
}

.comments ol li {
margin:0 0 1em;
}

input#author,input#mail,input#url,textarea#comment {
+height:18px;
*width:137px!important;
}
input#author,input#mail,input#url {
color:#333;
font-size:14px;
padding:4px 10px 4px 45px;
line-height:14px;
}

.com {
position:relative;
}

.com p {
margin:0;
}

.addcomment {
width:26px;
height:25px;
background-position:0 -124px;
position:absolute;
left:0;
}
ol.comment-list {
position:relative;
}
ol.comment-list,ol.comment-list ol,div.comment-box,div.comment-box ol {
list-style:none;
margin:0;
}


ol.comment-list li {
overflow:hidden;
margin:0;
padding:14px 0 0 0;
}

div.comment-box {
overflow:hidden;
margin:10px 0 0;
overflow:auto;
}

ol.comment-list li .comment-reply {
float:right;
*margin-top:-20px;
}

ol.comment-list li .comment-reply a {
font-size:12px;
border:none;
color:#aaa;
}
.comment-children {
background:url(http://x.papaapp.com/farm1/a571d2/9808769a/menu-current.png) no-repeat 7px -17px;
}
.comment-reply a {
margin-top:-200px;
}
.comment-meta {
padding:2px 0 0 80px;
color:#999;
}
.comment-author {
float: left;
display: block;
text-align: center;
margin-top:8px;
}

.fn a{
color:#6E7173;
height:16px;
overflow:hidden;
}
.fn a:hover{
color:#555;
}
cite.fn{
font-style:normal;
font-size:14px;
color:#6E7173;
padding-right:7px;
}
img.avatar{
-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
-moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
-o-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
-webkit-border-radius: 3px;
border-radius: 3px;
}
#comment_form textarea ,input#author,input#mail,input#url,textarea#comment,.post .con .oddli {
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
border:solid 1px #E8E8E8;
background:#F9F9F9;
-moz-box-shadow:1px 1px 0 rgba(255,255,255,0.5);
-webkit-box-shadow:1px 1px 0 rgba(255,255,255,0.5);
-o-box-shadow:1px 1px 0 rgba(255,255,255,0.5);
box-shadow:1px 1px 0 rgba(255,255,255,0.5);
font-family:'Microsoft Yahei',wqy-microhei,Verdana,Arial,Helvetica,sans-serif;
}
input#author:focus,input#mail:focus,input#url:focus,#comment_form textarea:focus,
input#author:hover,input#mail:hover,input#url:hover,#comment_form textarea:hover
{
background:white;
}
.comment-parent{
border-top:solid 1px #E8E8E8;
}
.comment-child{
border-top:solid 1px #E8E8E8;
}
.comment-p {
margin-left:80px;
overflow:hidden;
position:relative;
padding:5px 0 23px 0;
}

.post .con .oddli {
padding:6px 10px;
}

ol.comment-list li .respond {
padding:5px 0;
}

.respond .cancel-comment-reply a{
height:22px;
float:right;
border:none;
color:#aaa;
font-size:14px;
margin-top:7px;
}

#comment_form label {
float:left;
position:absolute;
margin:3px 0 0 8px;
font-size:14px;
display:block;
color: #6E7173;
}

#comment_form label .required {
color:#C04E37;
}

#comment_form .text {
width:100%;
}

#comment_form p {
margin-bottom:8px;
}

.submit {
font-size:12px;
width:100%;
border:none;
margin-top:2px;
font-family:Verdana,'Microsoft Yahei',Arial,Helvetica,sans-serif;
color:#fff;
height:29px;
display:block;
font-size:14px;
line-height:14px;
border:none;
font-family:'Microsoft Yahei',Verdana,Arial,Helvetica,sans-serif;
background:#f4f4f4;
color:#959595;
display:block;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-o-border-radius:4px;
-ms-border-radius:4px;
-khtml-border-radius:4px;
border-radius:4px;
border:1px solid #ddd;
cursor:pointer;
}

.submit:hover {
background:#959595;
color:#ddd;
}
.post_pre_n_nex{
position: fixed;
bottom: 67px;
height:93px;
width: 950px;
z-index: 0;
left: 50%;
text-align: center;
text-overflow: ellipsis;
display: inline;
margin-left: -353px;
}
.post_pre_n_nex ul{
padding:10px 0;
}
.post_pre_n_nex ul li{
display:inline-block;
width:100px;
color:#ddd;
text-shadow:1px 1px 1px #777;
}
.post_pre_n_nex_null{
position: absolute;
left: 76px;
top: -5px;
height: 14px;
width: 14px;
border-radius: 12px;
background-color: rgba(255, 255, 255, .6);
}
.post_pre_n_nex_nex_null{
left:auto;
right:76px;
}
.post_pre_n_nex ul li a{
color:white;
}
.post_nex{
float:right;
}
.post_pre{
text-align:right;
}

#jquery-overlay {
position:absolute;
top:0;
left:0;
z-index:90;
width:100%;
height:500px;
}

#jquery-lightbox {
position:absolute;
top:0;
left:0;
width:100%;
z-index:100;
text-align:center;
line-height:0;
}

#jquery-lightbox #lightbox-secNav-btnClose img {
border:none;
float:right;
padding:0 0 10px 0;
}

#lightbox-container-image-box {
position:relative;
background-color:#fff;
width:250px;
height:250px;
margin:0 auto;
}

#lightbox-container-image {
padding:10px;
}

#lightbox-loading {
position:absolute;
top:40%;
left:0;
height:25%;
width:100%;
text-align:center;
line-height:0;
}

#lightbox-nav {
position:absolute;
top:0;
left:0;
height:100%;
width:100%;
z-index:10;
}

#lightbox-container-image-box > #lightbox-nav {
left:0;
}

#lightbox-nav a {
outline:none;
}

#lightbox-nav-btnprev,#lightbox-nav-btnnext {
width:49%;
height:100%;
zoom:1px;
display:block;
}

#lightbox-nav-btnprev {
left:0;
float:left;
}

#lightbox-nav-btnnext {
right:0;
float:right;
}

#lightbox-container-image-data-box {
font:10px Verdana, Helvetica, sans-serif;
background-color:#fff;
line-height:1.4em;
overflow:auto;
width:100%;
margin:0 auto;
padding:0 10px;
}

#lightbox-container-image-data {
color:#666;
padding:0 10px;
}

#lightbox-container-image-data #lightbox-image-details {
float:left;
text-align:left;
}

#lightbox-image-details-caption {
font-weight:700;
}

#lightbox-image-details-currentnumber {
display:block;
clear:left;
padding-bottom:1em;
}

#lightbox-secnav-btnclose {
width:66px;
float:right;
padding-bottom:.7em;
}

.form .go,.display-none {
display:none;
}

.navigation .nav-previous,#postnavi .prev {
float:left;
}

.post .con,.lab,.comment-p {
font:normal 14px/2 "Microsoft YaHei","??????",tahoma,arial,simsun,sans-serif;
color:#4A4A4A;
}

ol.comment-list li .comment-reply a:hover,.respond .cancel-comment-reply a:hover {
color:#444;
}

/**************pen*************/
.comment-p .codebox {
margin:5px 0 0 0;
overflow:hidden;
}

.div-line{
border-bottom:1px solid #DDD;
height:1px;
text-indent:-9999px;
margin:0 0 8px 0;
}
.mp3_player{
border:1px solid #ddd;
padding: 5px;
margin-top:9px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
}
#tw .main_img{float:left;}
#tw .main_img img{ border:1px #fff solid}
#tw .op{ float:left; height:18px;margin:6px 5px 3px;}
#tw .top{ font-size:12px; text-align:right; border-bottom:1px #F7F7F7 solid; line-height:2;width:560px;}
#tw .top a{ padding:0px 5px 0px 17px; background: url(images/t.gif) no-repeat}
#tw ul{ margin:5px 0px 3px 25px; width:520px; line-height:1.8;padding:0px;}
#tw ul .li{ margin:10px 0px;padding:5px 0px;border-bottom: #F7F7F7 1px solid;}
#tw ul li{margin:0px 0px; padding:0;}
#tw ul li .main_img{ margin-top:10px;}
#tw ul li .post1{float:left;font-size:13px; padding:0px;margin:0; width:470px; padding:0px 0px 0px 8px;}
#tw ul li .post1 span{color:#886353; font-weight:bold;}
#tw ul li{ clear:both; padding:0px; margin:0px;}
#tw ul li .bttome {margin:3px 0;vertical-align:middle}
#tw ul li .bttome .time{ float:left;line-height:40px;margin:0;}
#tw ul li .bttome .post{ float: right;font-size:12px;line-height:14px;margin:0;}
#tw .time{ font-size:12px; color:#999999; padding-left:50px}
#tw ul .r{ margin:5px 0px 0px 40px;color:#666666; border:0; padding:0px;}
#tw ul .r li{padding:5px 3px 3px;border-bottom: #F7F7F7 1px solid; width:475px}
#tw ul .r .num{ font-size:16px; font-weight:bold; color:#0079b7;padding:0px 5px; float:left; width:20px;}
#tw ul .r .time{ padding:0px 5px;}
#tw ul .r .name{ padding:0px 0px 0px 0px; font-size:12px; color:#336699;}
#tw ul .r em a{ font-style:normal;}
#tw ul .huifu{margin:5px 0px 0px 43px; text-align:center;display:none;}
#tw ul .huifu textarea{ margin:5px; width:460px; border:#CCCCCC solid 1px;overflow:auto;}
#tw ul .huifu input{ margin:0px 5px;}
#tw ul .huifu div{ text-align:left; padding:0px 5px; text-align:center}
#tw ul .huifu .text{ width:60px;}
#tw ul .button_p{background:url(images/weibe_button.gif) no-repeat; border:0;cursor:pointer; _cursor:hand; width:63px; height:25px;}
#tw .tbutton{ font-size:12px;float:none; margin-bottom:3px;}
#tw .tbutton input{ width:90px; border:#CCCCCC solid 1px; }
#tw .tbutton .button_p{ background:url(images/weibe_button.gif) no-repeat; border:0;cursor:pointer; _cursor:hand; width:60px; height:25px;}
#tw .tbutton .tinfo{ float:left; }
#tw .msg{ clear:both}
#tw li{list-style:none;}
#tw ul .huifu textarea{background-color:#FFFFFF;}
#tw ul .huifu input{background-color:#FFFFFF;}
#tw ul li ul{ line-height:0;font-size:0;}
#tw ul li ul li{ font-size:12px; line-height:22px;}
#tw .top{width:650px;}
#tw ul li .post1{ width:560px;}
#tw ul{ width:610px;}
#tw ul .r li{width:565px}
#tw ul .huifu textarea{width:550px;}
#tw ul li .bttome .post{ font-size:12px;line-height:14px;margin:0; text-align:right; float:none;clear:both; width:610px; background:0; border:0;}
#tw ul li .bttome .time{ float:none; margin-top:-25px;}
#tw p .t_img{background:url(images/img.gif) no-repeat;padding: 0 7px;margin: 0 0 0 10px;}