@charset "gb2312";
/* CSS Document */
h1.t_nav span { float: right; color: #999; background:url(../images/5849.png) no-repeat left center; padding-left:20px }
h1.t_nav span a { margin: 0 5px }
h1.t_nav { border-bottom: #F1F1F1 1px solid; font-size: 12px; font-weight: normal; line-height: 40px; height: 40px; }
a.n1, a.n2 { width: 100px; display: block; text-align: center; color: #fff; float: left }
.n1 { background: #5EA51B; }
.n2 { background: #8BBF5D; }
.index_about { float: left; width: 740px; overflow: hidden; background: url(../images/r_line.jpg) repeat-y right; margin: 10px 0 }
.c_titile { font-size: 22px; margin: 20px 0; text-align: center }
.box_c { border: #ccc 1px dashed; text-align: center; padding: 5px 0; margin-right: 30px;color: #999;}
.box_c span { margin: 0 10px; }
.box_c span a{color: #099;}
ul.infos { overflow: hidden; margin: 20px 30px 20px 0; line-height: 28px; font-size: 14px; text-indent: 2em; }
ul.infos p { margin-bottom: 20px }
ul.infos p img { display: block; margin: auto }
.keybq { background: url(../images/6264.png) no-repeat 10px center #F8F8F8; line-height: 30px; height: 30px; padding-left: 40px; border: 1px solid #F0F0F0; margin-right: 20px; }
.keybq span { color: #099 }
.nextinfo { line-height: 24px; }
.otherlink h2 { border-bottom: #099 2px solid; line-height: 40px; font-size: 12px; font-weight: normal; margin-right: 20px; background:url(../images/5794.png) 10px center no-repeat; padding-left:40px}
.otherlink ul { margin: 10px 0 }
.otherlink li { line-height: 24px; height: 24px; display: block; width: 290px; float: left; overflow: hidden; margin-right: 30px; }
.otherlink li a:hover{ text-decoration:underline}