@charset "gb2312";
/* CSS Document */
h1.t_nav span{float:right; color:#999}
h1.t_nav { border-bottom: #F1F1F1 1px solid; font-size: 12px; font-weight: normal; line-height: 40px; height: 40px; }
h1.t_nav a { width: 100px; display: block; text-align: center; color: #fff; float: left }
.n1 { background: #5EA51B; }
.n2 { background: #8BBF5D; }
.newblog { width: 740px; overflow: hidden; background: url(../images/r_line.jpg) repeat-y right; margin: 10px 0 }
.newblog h2 { color: #333; font-size: 14px; margin: 20px 0 10px 0; clear:both}
p.dateview { margin-bottom: 10px }
p.dateview span { margin: 0 10px 0 0 }
p.dateview span a { color: #63B120 }
.newblog figure { float: left; }
.newblog figure img { width: 170px; border: #EAE6E7 1px solid; padding: 4px; }
.nlist { width: 530px; float: left; margin: 0 0 0 10px; line-height: 1.9; }
a.readmore { background: #f90; color: #fff; padding: 5px 10px; float: right; margin: 20px 0 0 0 }
.line { overflow: hidden; width: 97%; height: 20px; border-bottom: 1px dashed #ccc; }