<div id="copright">Design by <a href="/">Double</a></div>

<!-- Duoshuo JS BEGIN -->
  <script type="text/javascript">
    var duoshuoQuery = {short_name:"{{.options.duoshuo}}"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = 'http://static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
      || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
  </script>
  <!-- Duoshuo JS BEGIN -->

<script type="text/javascript">
    var obj=null;
    var As=document.getElementById('topnav').getElementsByTagName('a');
    obj = As[0];
    for(i=1;i<As.length;i++){
        if(window.location.href.indexOf(As[i].href)>=0)
        obj=As[i];
    }
    obj.id='topnav_current';
</script>