<div class="content"> 
    <div class="bloglist">
      <!--article begin-->
      {{range $k, $v := .list}}
        <ul>
        <h2><a title="{{$v.ColorTitle}}" href="{{$v.Link}}"  target="_blank">{{str2html $v.ColorTitle}}</a></h2>
        <p>{{str2html $v.Excerpt}}</p>
        <figure><img src="{{$v.Cover}}"></figure>
        <p class="dateview"><span>{{date $v.Posttime "Y-m-j"}}</span><span>作者：{{$v.Author}}</span><span>分类：{{str2html $v.TagsLink}}</span><span>阅读({{$v.Views}})</span></p>
        </ul>
      {{end}}
      <!--article end--> 
    </div> 
</div>  