<div class="navswf">
<object id="customMenu" data="{{.root}}images/nav.swf" width="528" height="70" type="application/x-shockwave-flash"><param name="allowScriptAccess" value="always"><param name="allownetworking" value="all"><param name="allowFullScreen" value="true"><param name="wmode" value="transparent"><param name="menu" value="false"><param name="scale" value="noScale"><param name="salign" value="1">
</object>
<div id="nav">
     <ul>
        <li><a href="/" >首页</a></li>
        <li><a href="/about.html" title="关于我">关于我</a></li>
        <li><a href="/life.html" title="成长录">成长录</a></li>
        <li><a href="/mood.html" title="碎言碎语">碎言碎语</a></li>
        <li><a href="/album.html" title="光影瞬间">光影瞬间</a></li>
        <li><a href="/book.html" title="留言版">留言版</a></li>
     </ul>
</div>
</div>