<aside class="navsidebar">
    <h2><p>个人档案</p></h2>
   <div class="vcard">
      <p class="fn">姓名：Double</p>
      <p class="nickname">网名：云卷云舒</p>
      <p class="url">主页：<a href="http://life.doubleliu.com" target="_blank">life.doubleliu.com</a></p>
      <p class="address">现居：广州天河区</p>
      <p class="role">前端FLASH、后端GO攻城师</p>
    </div>   
   <h2><p>博客分类</p></h2>
<ul class="news">
  <li><a href="/">慢生活(3)</a></li>
  <li><a href="/">程序人生(25)</a></li>
  <li><a href="/">经典美文(39)</a></li>
</ul>
<h2><p>近期文章</p></h2>
<ul class="news">
  <li><a href="/">女孩都有浪漫的小情怀</a></li>
  <li><a href="/">也许下个路口就会遇见希望</a></li>
  <li><a href="/">6月毕业季，祝福送给你</a></li>
  <li><a href="/">生活常有缺席的-可搞笑从来不缺席</a></li>
  <li><a href="/">为了一个不存在的梦，执念了那么多年</a></li>
  <li><a href="/">妹妹，明天你就要嫁人啦</a></li>
</ul>
<h2><p>文章归档</p></h2>
<ul class="news">
  <li><a href="/">2008 年三月</a></li>
  <li><a href="/">2008 年四月</a></li>
  <li><a href="/">2008 年六月</a></li>
</ul>
<h2><p>友情链接</p></h2>
<ul class="news">
  <li><a href="http://www.yangqq.com">杨青个人博客</a></li>
</ul>
</aside>